%h1 Merci pour votre soumission !
%p Votre soumission sera approuvée sous peu.

%br
%ul{:class => 'content-list'}
  %li= link_to 'Soumettre un autre exemple', new_example_path
  %li= link_to 'Retourner aux exemples'
