%h1{:class => 'new-example'} Modifier un exemple

= simple_form_for [:admin, @example], :html => {:class => "form-horizontal"} do |f|
  .control-group
    %label{:class => 'control-label'} Approuvé
    .controls
      = check_box(:example, :approved)
  .control-group
    %label{:class => 'control-label'} Publié le
    .controls
      = f.date_select :published_at, :order => [:day, :month, :year], :include_blank => true, :start_year => 2000, :end_year => 2013
  = render :partial => "/examples/form", :locals => {:f => f}
