%table
  %thead
    %tr
      %th ID
      %th Résumé
      %th Extrait

  %tbody
    - @examples.each do |example|
      %tr
        %td= example.id
        %td= example.headline
        %td= example.excerpt

