/*
 *= require_self
 *= require_tree .
 */
table thead tr th {background-color:#bbb;}
table tbody tr td {border-bottom:1px solid #bbb;}

*, div, p, td, li, body {font-family: Marmelad, Ubuntu, Verdana, sans-serif;}
h3 {font-size:20px;}
body {background-color:#eee !important;}
p, li, td, th, .nav li.nav-header {font-size:18px; line-height:1.7em !important;}
span.highlight{background-color: #ff9;}
ul.content-list li {list-style-type: square;}
.controls select {width:auto;}
.headline {font-family:IM Fell English SC, Serif; color:red; font-size:320%; margin:0 0 1em 0; line-height:1em;}
.excerpt {position:relative; font-size:18px; line-height:1.3em; white-space:pre-wrap;}
.container h1, .container h2 {margin:2em 0 0.2em 0;}
.header-container {margin: auto; background:#ddd url('/assets/charest.png') no-repeat 1050px -45px; padding:0.8em 0em 4em 0em; height:10em;}
.header h1 a {font-family: IM Fell English SC, Serif; font-size:46px; color:black; text-decoration:none}
.header ul {list-style-type:none; margin:2em 0 0 0; padding:0; width:720px; }
.header ul li {float:left; margin-top:7px; margin-right:7px; font-size: 120%}
.header ul li a {color:black;background-color:white; padding:0.1em 0.3em; display:block;}
.header ul li a:hover {color: white; text-decoration:none; background-color: #d00; border-color: #d00; color: white; }
.header ul li.current a {background-color:#d00; color:white; border-color:#d00;}
.ribbon {border-width: 1px 0 0 0; border-color:#aaa; border-style:solid; background-color:white; padding-bottom:4em;}
.ribbon {box-shadow: 0 3px 5px #333; background-color:white; }

.quotation-marks {position:absolute; left:-60px; top:32px; font-size:700%; color:#aaa; font-family:Georgia;}

a.external {background: url(/assets/externallink.png) no-repeat; background-position: 100% 50%; padding-right:15px;}
.alert, .filter-notice {text-align:center; font-size:20px !important; width:900px; margin:auto; background-color:#fe8; padding:0.5em 1em;}

.next-button {box-shadow: 0px 5px 10px #333; background-color:white; margin-bottom:6px;}
.next-button {display:block; text-align:center; width:10em; margin-top:5em; background-color:black; border:0px solid white; margin-left:30px}
.next-button:hover {box-shadow: 0 0 0 0; border:3px solid white; margin-bottom:0;}

.viewport{border-right: 1px solid #ccc}

.card {margin-top:4em; padding-right:1em;}
h1.new-example {margin-left:220px;}

.header img {float:left; margin-right:2em; border:3px solid #ccc;}
.header-container h1 {margin-top:0em;}
.header-container h2 {margin-top:0;}

.footer {padding:1em;}
.fb-iframe{margin-top: 10px;}

.controls textarea, .controls input#example_headline, .controls input#example_link {width:40em;}
.controls * {vertical-align:middle;}

input.btn, button.btn, .control-label, .collection_check_boxes {font-size:140%;}
.control-group {line-height:2em;}
.form-horizontal label.control-label {width:200px;}
.form-horizontal div.controls {margin-left:220px;}
.form-horizontal div.form-actions {padding-left:220px;}
.control-group .controls span input {margin:0;}
.control-group .controls span {display:block;}
.control-group .controls span label {display:inline; margin-left:1em;}
.example-info label {font-weight:bold; display:inline-block; width:12em; font-size:110%;}
.example-info .section {float:left; font-size:18px;}
.social-buttons {float:right;}
.example-info {margin:2em 0 3em 0;}
.twitter-button {display:inline; position:relative; top:2px;}

.source-data {margin-left: 10px}
