/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.arrow-link:hover {background-color:transparent;}
.headline {color:red; font-size:300%; margin:1em 0; line-height:1em;}
.excerpt {font-style:italic;}
.container h1 {margin-bottom:1em;}

.header img {float:left; margin-right:1em; border:2px solid #ccc;}
.header {display:table-cell; vertical-align:middle;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

hr {clear:both;}
ul.footer {list-style-type:none; padding:0; margin:0; text-align: center; clear:both;}
ul.footer li {margin:0; padding:0 1em; display:inline; border-left:1px solid #444;}
ul.footer li:first-child {border-style:none;}

.controls textarea {width:47em;}
.controls input#example_headline {width:40em;}
.controls input#example_link {width:40em;}

.control-group .controls span input {margin:0;}
.control-group .controls span {display:block;}
.control-group .controls span label {display:inline; margin-left:1em;}
