/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

label, p, input, a {font-size: 100%;}
input[type='text'], textarea {padding:5px; font-size:120%;}

h1 {margin-bottom:2em;}

.field label {font-weight:bold; width:8em; display:inline-block; vertical-align:top;}

.header img {float:left; margin-right:1em; border:2px solid #ccc;}
.header {display:table-cell; vertical-align:middle;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

ul.footer {list-style-type:none; padding:0; margin:0; text-align: center}
ul.footer li {margin:0; padding:0 1em; display:inline; border-left:1px solid #444;}
ul.footer li:first-child {border-style:none;}

textarea {width:30em;}
textarea#example_headline {height:4em;}
input#example_link {width:30em;}
