%h1 La honte a un visage
.header{:class => 'clearfix'}
  %img{:src => '/charest.png', :width => '120px'}
  %div{style: "margin-left: 150px"}
    %h2 Jean Charest
    %h4 Premier ministre du Québec (2003 - 2012)
