.header-container
  .container
    .row
      .span10
        .header
          %h1= link_to 'Charest les faits', root_url
          %h3 Après 9 ans, c'est assez. Voici les faits.

          %ul
            - Reason.all.each do |reason|
              - next if Example.approved.for_reason(reason).count == 0
              %li{:class => "#{current_reason?(reason) ? 'current' : ''}"}
                - if current_reason?(reason)
                  = reason.label
                - else
                  = link_to reason.label, by_reason_path(reason)


