.header-container
  %h1 La honte a un visage
  .header{:class => 'clearfix'}
    %img{:src => '/assets/charest.png', :width => '100px'}
    .name-and-title
      %h2 Jean Charest
      %h3 Premier ministre du Québec (2003 - 2012)
