.header-container
  .container
    .row
      .span10
        .header
          %h1= link_to 'La honte a un visage', root_url
          %h3 Neuf ans c'est assez. Voici les faits.

          %ul
            = render :partial => 'reason_tag', :locals => {:reason => nil, :label => "Tous les exemples", :count => Example.approved.size, :path => root_path}

            - Reason.all.each do |reason|
              - next if Example.approved.for_reason(reason).count == 0
              = render :partial => 'reason_tag', :locals => {:reason => reason, :label => reason.label, :count => Example.approved.for_reason(reason).size, :path => by_reason_path(reason)}
