%h1 À propos de ce site
%p Ce site est né de la frustration d'avoir à notre tête un gouvernement qui ne travaille pas pour nous, le 99%.

%p Notre objectif premier est de lister les raisons pourquoi le gouvernement Charest ne mérite pas votre vote.

%p Ensuite nous voulons encourager les citoyens à s'enregistrer sur la liste électorale.

%h1 Qui nous sommes
%p Nous sommes deux frères qui travaillent en informatique lorsque nous ne nous mêlons pas de politique.

%p Vous pouvez <a href="mailto:info@charest-les-faits.com">nous contacter ici</a>.
