%h1 À propos de Charest-les-faits.com
%ul{:class => 'content-list'}
  %li Ce site web est né de la frustration d'avoir à notre tête un gouvernement qui ne travaille pas pour l'ensemble des Québécois, mais plutôt pour certains acteurs privilégiés.

  %li 
    L'objectif premier du site web est de communiquer les nombreuses raisons pourquoi le 
    %span{:class => 'highlight'} gouvernement Charest n'a pas à coeur les intérêts des Québécois.

%h1 Qui nous sommes
%ul{:class => 'content-list'}
  %li Nous sommes deux frères qui travaillent dans les technologies du web lorsque nous ne nous mêlons pas de politique.
  %li 
    Vous pouvez <a href="mailto:info@charest-les-faits.com">nous contacter ici</a>.

%h1 Crédits
%ul{:class => 'content-list'}
  %li 
    Nous remercions 
    = link_to "Marc Pageau", "http://www11.brinkster.com/marcpageau/" 
    pour nous avoir donné le droit d'utiliser une de ses caricatures de Jean Charest.
