%h1 Certitudes
%p Certainement, nous ne voulons plus de Charest à la tête de notre gouvernement. Alors que doit-on faire pour optimiser nos chances de réussite?

%h1 Stratégies
%p Certains poussent vers le vote stratégique. Mais le vote stratégique est risqué.

%h1 Notre recommendation
%p Nous sommes en train de préparer nos recommendations. Revenez voir dans quelques jours.

%h1 Et s'il vous plait
%p Partagez le lien vers ce site!
