= render "header", {:text => 'Raisons de la honte'}
%h1 Raisons
- @reasons_with_count.each do |reason, count|
  %p!= "#{reason.label} (#{count == 0 ? "0 exemples" : link_to(pluralize(count, "exemple"), by_reason_path(reason))})"

