%h2 Objectifs:
%ul{:class => 'content-list'}
  %li<
    Faire connaître 
    = link_to "les faits", clear_by_reason_url
    sur le gouvernement Charest. 
  %li<
    Contribuer à la défaite des Libéraux le 4 septembre.

%h2 Stratégie:
%ul{:class => 'content-list'}
  %li<
    Faire sortir le vote. Surtout celui des jeunes.
  %li<
    Encourager à voter stratégiquement dans les circonscriptions chaudes.
  %li<
    Revendiquer un mode de scrutin avec beaucoup plus de proportionnalité.

